*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

/* body */
body{
    /* background-color: #d8eaab; */
    background-color: #cdec84;

}


/* header */
header{
    margin: 50px;
    position: relative;
    text-align: center;
    display: block;
    align-items: center;
    /* padding: 5% 0 5% 0; */
    /* display: flex; */
    /* background-image: url(/img/huerta-1.jpg);
    background-repeat: no-repeat;
    /* background-position: top; */
    /* background-color: #b5d98f; */
    /* background-color: #f2dc96; */
    /* position: sticky;
    /*top: 0; */
}

.img-huerta-1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 330px;
    filter: blur(2px);
}

.titulo{
    position: relative;
    bottom: 10px;
    text-align: center;
    font-size: 10em;
    color: #ee6055;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    /* -webkit-text-stroke: 2px black */
    /* margin: 20px 0; */
    /* font-family: 'Cabin Sketch', cursive; */
    /* font-family: 'Aref Ruqaa Ink', serif; */
    /* font-family: 'Passions Conflict', cursive; */
    /* right: 40px; */
}

/* navegation */

/* nav */
#nav{
    display: block;
    position: sticky;
    top: 0%;
    background-color: #ffe67e;
}
/* nav ul*/
#ul{
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: #ffe67e;
    justify-content: space-around;
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* margin-right: 45px; */
}

#nav li{
    margin: 0;
    font-size: 40px;
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: bold;
    height: 50px;
    position: relative;
    left: 40px;
    /* background-color: rgb(255,255,114); */
    /* padding: 0 20px; */
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Indie Flower', cursive; */
    /* font-family: 'Permanent Marker', cursive; */
}

nav a{
    display: flex;
    align-items: baseline;
    padding: 0;
}

nav a:hover{
    color: #ee6055;
}

/* _____________________ */

/* main */



/* section */
/* ---------------------------------------------------------colocar un display flex al section --------------------------------------------------------- */


/* article 1*/
.first-article{
    display: inline-flex;
    text-align: center;
    /* width: ; */
}

.cilantro-container{
    width: 50%;
}

#cilantro-img{
    width: 50%;
    margin: 20px;
    border-radius: 20px;
    border: 5px solid beige;
}

.navegation-article{
    height: 50%;
    /* width: auto; */
}

.container-item{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    list-style: none;
    margin-right: 50px;
}

.container-item li{
    margin: 20px 15px;
    background-color: #fff;
    padding: 0;
    border-radius: 10px 5px;
}
.container-item li:hover{
    background-color: #ee6055;
    transition: 0.3s;
}
.container-item a{
    padding: 15px;
}
.container-item a:hover{
    color: black;
}


/* .desvanecer:hover {
    z-index: 1;
    opacity: 0.2;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
} */


/* .welcome{
    margin: 70px 50px 40px 50px;
    display: block;
    text-align: center;
    font-size: 45px;
    font-family: 'Lobster', cursive;
    font-weight: lighter;
} */

/* article 2*/

/* .second-article{
    
} */

/* aside */


/* footer */
footer{
    display: block;
    text-align: center;
    /* background-color: #a7c957; */
    /* background-color: #b5d98f; */
    background-color: #f2dc96;
    padding: 20px;
}

footer ul{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

footer li{
    margin: 0 20px;
    font-size: 22px;
}

footer a{
    font-family: 'Aref Ruqaa Ink', serif;
    font-weight: bold;
}