*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

/* body */
body{
    /* background-color: #d8eaab; */
    background-color: #cdec84;

}


/* header */
header{
    margin: 50px;
    position: relative;
    text-align: center;
    display: block;
    align-items: center;
    /* padding: 5% 0 5% 0; */
    /* display: flex; */
    /* background-image: url(/img/huerta-1.jpg);
    background-repeat: no-repeat;
    /* background-position: top; */
    /* background-color: #b5d98f; */
    /* background-color: #f2dc96; */
    /* position: sticky;
    /*top: 0; */
}

.img-huerta-1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 330px;
    filter: blur(2px);
}

.titulo{
    position: relative;
    bottom: 10px;
    text-align: center;
    font-size: 10em;
    color: #ee6055;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    /* -webkit-text-stroke: 2px black */
    /* margin: 20px 0; */
    /* font-family: 'Cabin Sketch', cursive; */
    /* font-family: 'Aref Ruqaa Ink', serif; */
    /* font-family: 'Passions Conflict', cursive; */
    /* right: 40px; */
}

/* navegation */

/* nav */
#nav{
    display: block;
    position: sticky;
    top: 0%;
    background-color: #ffe67e;
}
/* nav ul*/
#ul{
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: #ffe67e;
    justify-content: space-around;
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* margin-right: 45px; */
}

#nav li{
    margin: 0;
    font-size: 40px;
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: bold;
    height: 50px;
    position: relative;
    left: 40px;
    /* background-color: rgb(255,255,114); */
    /* padding: 0 20px; */
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Indie Flower', cursive; */
    /* font-family: 'Permanent Marker', cursive; */
}

nav a{
    display: flex;
    align-items: baseline;
    padding: 0;
}

nav a:hover{
    color: #ee6055;
}

/* _____________________ */

/* main */



/* section */
/* ---------------------------------------------------------colocar un display flex al section --------------------------------------------------------- */


/* article 1*/
.first-article{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.cilantro-container{
    width: 40%;
}

#cilantro-img{
    width: 70%;
    margin: 20px;
    border-radius: 20px;
    border: 5px solid beige;
}

.container-buttons{
    width: 40%;
    /* height: 100%; */
}
.span-container{
    text-align: justify;
}
.container-buttons button{
    margin: 25px 5px;
    padding: 10px;
    border: 2px solid;
    font-size: 16px;
    border-radius: 20px 10px;
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
    width: 150px;
    cursor: pointer;
}

.container-buttons button:hover{
    background-color: #ee6055;
    /* border: 2px solid; */
    text-decoration: 2px underline;
    transition: 0.3s;
}

/* aside */


/* footer */
footer{
    display: block;
    text-align: center;
    /* background-color: #a7c957; */
    /* background-color: #b5d98f; */
    background-color: #f2dc96;
    padding: 20px;
}

footer ul{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

footer li{
    margin: 0 20px;
    font-size: 22px;
}

footer a{
    font-family: 'Aref Ruqaa Ink', serif;
    font-weight: bold;
}